body {
    background-color: lightblue;
    font-size: 20px;
    font-family: Arial;
}

nav {
    display: flex;
    gap: 20px;
}


@media (max-width: 768px) {
    body {
        background-color: lightcoral;
        font-size: 16px;
    }

    nav {
        flex-direction: column;
    }
}
