@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align:center;">Student Details</h2>

<div style="width:400px; margin:auto; border:1px solid #ccc; padding:20px; border-radius:8px; text-align:center;">

    <p><strong>Name:</strong> @ViewBag.Name</p>
    <p><strong>Age:</strong> @ViewBag.Age</p>
    <p><strong>Course:</strong> @ViewBag.Course</p>

</div>
