body {
    font-family: Verdana, sans-serif;
}

.features {
    padding: 30px;
}

.features h2 {
    color: darkblue;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features ul li {
    background-color: #e6f2ff;
    color: #333;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.features ul li:hover {
    background-color: #007bff;
    color: white;
}