@model MvcAppDetails.Models.Product

<h2>Product Details</h2>

<p><b>Id:</b> @Model.Id</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Price:</b> @Model.Price</p>
<p><b>Category:</b> @Model.Category</p>

<a asp-action="Index">Back to List</a>