
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}


.dashboard {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    background-color: #3b1e23;
    color: white;
    padding: 20px;
    width: 20%;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: #38bdf8;
}


.main-content {
    flex: 1;
    padding: 30px;
}

.main-content h1 {
    margin-bottom: 20px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1 1 22%;
    border-radius: 8px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}


@media (max-width: 992px) {
    .card {
        flex: 1 1 45%;
    }
}


@media (max-width: 768px) {

    
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-around;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}